<html>
    <h1>Welcome to Run Out of Town on a Rail</h1>

    <p>
    In which I snidely allude to some of my vague misgivings about Ruby on Rails
    by giving a silly title to a web app.
    </p>

    <p>
    This html is probably ill-formed, since I rarely write html by hand.
    Fortunately for me, browsers are incredibly clever and forgiving, 
    so I don't have to care.
    </p>

    <p>
    Wanna see some href <a href="../outlaws">Outlaws</a>?
    <%= link_to 'No Thanks.', likes_outlaws: false %>
    </p>

    <p>
    <%# Renée's more robust version from class %>
    Wanna see some link_to <%= link_to 'Outlaws', outlaws_path %>?
    <%= link_to 'No Thanks.', likes_outlaws: false %>
    </p>

    <p>
    <%= salutation %>
    </p>

</html>

